:root {
  --bg0: #110E1B;
  --bg1: #273043;
  --bg-l: #9197AE;
  --border: #EFF6EE;
  --contrast: rgb(162, 0, 231);
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}