:root {
  --bg0: #141619;
  --bg1: #2c2e3a;
  --border: #0a21c0;
  --border-light: #2744ff;
  --border-highlight: #455eff;
  --contrast: rgb(162, 0, 231);
  --light0: #F02D3A;
  --light1: #EFF6EE;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  font-weight: 500;
  scroll-behavior: smooth;
}